# Compiled source #
###################
*.so
*.pyc

# Logs #
########
*.log

# ROOT files, ntuples #
#######################
*.root

# Anything from cran projects #
###############################
ElectronNtupler/test/crab_projects/*

# Backup copies #
#################
*~
