# Compiled source #
###################
*.so
*.pyc
*_cc.d
*_hh.d
*_C.d

# Logs #
########
*.log

# ROOT files, ntuples #
#######################
*.root

# Local directories where output goes #
#######################################
ElectronNtupler/test/crab_projects/*
SelectionOptimization/trainingData/*
SelectionOptimization/cut_repository/*

# Backup copies #
#################
*~
